MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=magento
MARIADB_USER=magento
MARIADB_PASSWORD=password
MARIADB_PORT=3306
MARIADB_VERSION=11.4
MAGENTO_URL=3.138.201.216
MAGENTO_ADMIN_EMAIL=admin123@gmail.com
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=superadminpass123
MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=America/New_York
SEARCH_HOST=opensearch
DB_HOST=mariadb
PRJ_DIR=./app
